body {
    font-family: Jost, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .leaderboard-container {
    width: 500px;
    max-height: 200px;
    background: #B2AC88;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .leaderboard-header {
    background: #4A3D2E;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .leaderboard-toggle {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: #4A3D2E;
    gap: 10px;

  }
  
  .toggle-option {
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    
  }
  
  .toggle-option:hover {
    text-decoration: underline;
  }
  
  .leaderboard-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 200px;
    flex-grow: 1;
    text-color: black;
  }
  
  .leaderboard-list::-webkit-scrollbar {
    width: 3px;
  }
  
  .leaderboard-list::-webkit-scrollbar-thumb {
    background: #342E26;
    border-radius: 25px;
  }
  
.leaderboard-item {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 15px;
  border: 3.5px solid #4A3D2E;
  position: relative; /
  overflow: hidden; 
}

.leaderboard-item::before {
  color: black;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; 
  height: 100%;
  background: #5C5840;
  transform-origin: top left;
  z-index: 0; 
}
  
.leaderboard-item::after {
  color: black;
  content: '';
  position: absolute;
  top: 0;
  right: 0.005px;
  width: 2%; 
  height: 100%;
  background: #5C5840;
  transform-origin: top right;
  z-index: 0; 
}
  .leaderboard-item:nth-child(odd) {
    background: #B2AC88;
    
  }
  
  .leaderboard-item:last-child {
    border-bottom: 10px solid #4A3D2E;
  }
  
  .leaderboard-rank ,.leaderboard-name ,.leaderboard-score {
    font-weight: bold;
    color: #333;
  }

