<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Page</title>

<link rel="stylesheet" href="../GlobalStyling.css" href="https://indestructibletype.com/fonts/Jost.css"   ><script defer src="SearchPage.js"></script>
</head>
  
<body>
        <!--Navigation Bar Standard-->
        <nav class="topnav">
            <img src="../../../components/NavBar/imgs/New_CommunityWatch_Logo.png" alt="CommunityWatch Logo" class="logo">
            <a href="../../../app/pages/HomePage/homepage.html">Home</a>
            <a href="../../../app/pages/UserPage/MyOrganizations.html">My Orgs</a>
            <a href="../../../app/pages/SearchPage/SearchPage.html">Search</a>
            <a href="../../../app/pages/ProfilePage/UserProfile.html">Profile</a>
    
        </nav>
  
        <!--Navigation Bar Admin/Member-->
        <nav class="topnav">
                    <img src="../../../components/NavBar/imgs/New_CommunityWatch_Logo.png" alt="CommunityWatch Logo" class="logo">
                    <a href="../../../app/pages/Organization/AdminstrationPage/AdminView.html">Home</a>
                    <a href="../../../app/pages/UserPage/MyOrganizations.html">My Organizations</a>
                    <a href="../../../app/pages/ProfilePage/UserProfile.html">Profile</a>
                    <a href="../../../app/pages/HomePage/homepage.html">Volunteer</a>
                    <a href="../../../app/pages/SearchPage/SearchPage.html">Search</a>
        </nav>

    <br/>
    <br/>
<footer>
    <div class="container">
        <p><strong>Support Team:</strong> support@example.com | +1-800-123-4567</p>
        <p>&copy; 2025 Community Watch. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" title="Facebook">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank" title="Instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>

    </body>
</html>