body {
    background-color: #B2AC88;
    font: jost-regular;
    font-size: 24px;
}
h1 {
    font-size: 96px;
}
h2{
    font-size: 40px;
}
h3,h4,h5{
    font-size: 12px;
}

button {
    background-color: #333; /* Dark gray */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.sidebar button {
    padding: 10px;
    margin-top: 10px;
    background-color: #b2bbb2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
