body {
    background-color: #d2d0b4;
    font: jost-regular;
    font-size: 24px;
}
h1 {
    font-size: 96px;
}
h2{
    font-size: 40px;
}
h3,h4,h5{
    font-size: 12px;
}

button {
    background-color: #333; /* Dark gray */
    color: white; /* White text */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
