<html>
   <head>
    <link rel="stylesheet" href="stylesheet.css"> 
   </head> 
   <body>
    <!--Add the community watch logo-->
     <!--Code for website header-->
    <nav class="topnav">
        <a href="#Home">Home</a>
        <a href="#News">News</a>
        <div class="dropdown">
            <button class="dropbtn">Organization</button>
            <div class="dropdown-content">
                <a href="#NewOrg">New Organization</a>
                <a href="#ShowOrg">Show Organization</a>
            </div>
        </div>
        <a href="#Profile">Profile</a>
    </nav>
   </body>
</html>


<!-- Original Code
<a  href="#Home">Home</a>
    <a href="#Search">News</a>
    <a href="#Organization" for="Organization">Organization
        <Code to create a dropdwon box 
        <select name="Organization" id="Organization">
            <option value="ShowOrg">Show Organization</option>
            <option value="NewOrg">New Organization</option>
        </select>
    </a>
    <a href="#Profile">Profile</a> 
-->
