<html>
   <head>
    <link rel="stylesheet" href="NavigationBarStylesheet.css"> 
   </head> 
   <body>
    <!--Add the community watch logo-->
     <!--Code for website header-->
    <nav class="topnav">
        <img src="imgs/Senior Project Logo.png" alt="CommunityWatch Logo" class="logo">
        <a href="../../pages/HomePage/homepage.html">Home</a>
        <a href="../../pages/SearchPage/SearchPage.html">Search</a>
        <div class="dropdown">
            <button class="dropbtn">Organization</button>
            <div class="dropdown-content">
                <a href="#NewOrg">New Org</a>
                <a href="../../SideBar/UserView.html">My Orgs</a>
            </div>
        </div>
        <a href="../../pages/communitywatcheditprofile.html">Profile</a>
    </nav>
   </body>
</html>

