body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 400px;
    width: 100%;
    background: #B2AC88;
    color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
      color:white;
  background: #B2AC88;
}

button{
  color: white;
  background:#5C5840;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.multiple-choice, .checklist {
    margin-bottom: 10px;
}

.multiple-choice label, .checklist label {
    display: block;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
