<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Support Requests</title>
<link rel="stylesheet"  href="Responsive-Card-Support.css" href="https://indestructibletype.com/fonts/Jost.css"  >
<script src="Responsive-Card-Support.js"></script>
</head>
  
<body>
<div class="card" data-event-type="">
 <div class="card-header">
      <h3>Support Request Event Title</h3>
      <h4>Organization</h4>
      <h5>Date</h5>
      <p class="description">This is a description of the support  request.</p>
      <div class="progress-bar" style="width: 80%;"></div>
      <img src="photo.jpg" class="photo">
      </div>
          
<div class="card-bottom">
  <button class="request-type">Request Type</button>
  <div class="filters">
    <button class="filter-box1">Filter 1</button>
    <button class="filter-box2">Filter 2</button>
    <button class="filter-box3">Filter 3</button>
  </div>  
  <p class="see-more" id="see-more" onclick="redirect()">See More ></p>
        </div>
</div>

  
  </body>
</html>