body {
    font-family: 'Jost', sans-serif;
    background-color: #B2AC88;
    color: #B2AC88;
    text-align: center;
}
.search-bar {
    margin: 20px;
    background: none;
    border: none;
    background-color: #B2AC88;
    cursor: pointer;
    text-decoration: none;
}
#toggle-filters
{
    background: none;
    border: none;
    color: #342E26;
    cursor: pointer;
    text-decoration: none;
}

#clear-filters {
    background: none;
    border: none;
    color: #B2AC88;
    cursor: pointer;
    text-decoration: none;
}
#toggle-filters:hover, #clear-filters:hover {
    text-decoration: underline;
}
.filters {
    display: none;
    background-color: #342E26;
    padding: 10px;
    border-radius: 5px;
}
.results-container {
    display: none;
    margin-top: 20px;
}
.results-iframe {
    width: 30%;
    height: 200px;
    margin: 10px;
    border: none;
}
.hidden {
    display: none !important;
}